FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY1=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
